DHCPv6StatusCode should uint16

According to RFC 3315 section 22.13 status code option uses 16 bits instead of 8 https://tools.ietf.org/html/rfc3315#section-22.13

This issue is fixed with #532, isn't it?

Yes this fix is correct. Thank you.