bug - gopacket, IPv6 Hop-by-Hop, and ICMPv6 Type

I've been using gopacket to examine ICMPv6 messages. I've discovered that a packet which includes an IPv6 Hop-by-Hop doesn't seem to get decoded properly. It looks to me like `layers.IPv6` includes the Hop By Hop Options in the bytesto be decoded as part of the "next layer".

Example
=======

Here's my packet:

```
33 33 00 00 00 16 1e c3 e3 b7 c4 d5 86 dd 60 00
00 00 00 88 00 01 00 00 00 00 00 00 00 00 00 00
00 00 00 00 00 00 ff 02 00 00 00 00 00 00 00 00
00 00 00 00 00 16 3a 00 05 02 00 00 01 00 8f 00
9e ed 00 00 00 06 03 00 00 00 ff 02 00 00 00 00 
00 00 00 00 00 01 ff b7 c4 d5 03 00 00 00 ff 02
00 00 00 00 00 00 00 00 00 01 ff 00 00 00 04 00
00 00 ff 02 00 00 00 00 00 00 00 00 00 01 ff 11
00 79 04 00 00 00 ff 02 00 00 00 00 00 00 00 00
00 01 ff 00 00 01 04 00 00 00 ff 05 00 00 00 00
00 00 00 00 00 00 00 00 00 02 04 00 00 00 ff 02
00 00 00 00 00 00 00 00 00 00 00 00 00 02
```
And the go code I'm using to parse it:

```
    package main

    import (
        "fmt"
        "github.com/google/gopacket"
        "github.com/google/gopacket/layers"
    )

    func main() {
        data := []byte {
            // Ethernet layer
             0x33, 0x33, 0x00, 0x00, 0x00, 0x16, // destination
             0x1e, 0xc3, 0xe3, 0xb7, 0xc4, 0xd5, //  source
             0x86, 0xdd, // type IPv6

             // IPv6 layer
             0x60, 0x00, 0x00, 0x00, // version; traffic class; flow label
             0x00, 0x88, // payload length?
             0x00, // Next Header
             0x01, // Hop Limit
             0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, // source
             0xff, 0x02, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x16, // destination

             // IPv6 Hop-by-hop option
             0x3a, // Next Header - IPv6-ICMP
             0x00, // Hdr Ext Len
             0x05, 0x02, 0x00, 0x00, 0x01, 0x00, // Options and Padding

             // ICMPv6 layer
             0x8f, // ICMP type 143
             0x00, 0x9e, 0xed, 0x00, 0x00, 0x00, 0x06, 0x03, 0x00, 0x00, 0x00, 0xff, 0x02, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x01, 0xff, 0xb7, 0xc4, 0xd5, 0x03, 0x00, 0x00, 0x00, 0xff, 0x02, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x01, 0xff, 0x00, 0x00, 0x00, 0x04, 0x00, 0x00, 0x00, 0xff, 0x02, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x01, 0xff, 0x11, 0x00, 0x79, 0x04, 0x00, 0x00, 0x00, 0xff, 0x02, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x01, 0xff, 0x00, 0x00, 0x01, 0x04, 0x00, 0x00, 0x00, 0xff, 0x05, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x02, 0x04, 0x00, 0x00, 0x00, 0xff, 0x02, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x00, 0x02,
        }

        var ethLayerResp layers.Ethernet
        var ipV6LayerResp layers.IPv6
        var icmpLayerResp layers.ICMPv6
        var payload gopacket.Payload

        parser := gopacket.NewDecodingLayerParser(layers.LayerTypeEthernet, &ethLayerResp, &ipV6LayerResp, &icmpLayerResp, &payload)
        parser.IgnoreUnsupported = true // avoid `No decoder for layer type ICMPv6RouterAdvertisement` error

        respLayers := make([]gopacket.LayerType, 0)
        err := parser.DecodeLayers(data, &respLayers)

        if err != nil  {
            fmt.Printf("Error decoding layers %s\n", err)
           return
        }


        fmt.Printf("icmpLayerResp.TypeCode=%s\n", icmpLayerResp.TypeCode)
    }
```

In the above code snippet, I'm expecting the output to indicate that the ICMPv6 Type code is 143 (Multicast Listener Discovery) which should correspond to the first byte of the ICMPv6 layer. Instead it outputs 58, which corresponds to the first byte of the Hop By Hop option - 58 being what indicates the next header after the Hop By Hop option will be an ICMPv6 header, as per RFC4443: https://tools.ietf.org/html/rfc4443#section-2.1

Quick/Easy fix
==============

It looks like the `DecodeFromBytes(...)` code in `gopacket/layers/ip6.go` only ever adjusts where the payload ends, but doesn't account for removing the Hop By Hop options from the payload. Adding a simple `} else {` on [line 243](https://github.com/google/gopacket/blob/157f9f84344746b9ed8ca4e92db2419ad94d4fc6/layers/ip6.go#L243) seems to address the issue:

```
		if jumbo && ip6.Length == 0 {
			// ...
		} else if jumbo && ip6.Length != 0 {
			// ...
		} else if !jumbo && ip6.Length == 0 {
			// ...
		} else {
			// new code!
			ip6.Payload = ip6.Payload[8:]
		}
```

... but overall I think there need to be considerations for the length of the options, and that `layers.IPv6HopByHop` might need a `Length` field to match the `Hdr Ext Len` described in RFC8200 section 4.3 - https://tools.ietf.org/html/rfc8200#section-4.3